* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #151c1f;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
